.example-wrapper {
  position: relative;

  img {
    width: 570px;
  }

  .btn-lt {
    position: absolute;
    top: 225px;
    left: 145px;
  }

  .btn-rt {
    position: absolute;
    top: 225px;
    left: 240px;
  }
}
